
.icon-left-quote-mark:before { content: '\e800'; } /* '' */
.icon-phone-symbol-of-an-auricular-inside-a-circle:before { content: '\e801'; } /* '' */
.icon-placeholder-filled-point:before { content: '\e802'; } /* '' */
.icon-thumbs-up-hand-symbol:before { content: '\e803'; } /* '' */
.icon-24-hours-phone-assistance-service:before { content: '\e804'; } /* '' */
.icon-automobile-with-wrench:before { content: '\e805'; } /* '' */
.icon-dollar-symbol:before { content: '\e806'; } /* '' */